* {
    font-size: 16px;
	border-radius: 12px;
    font-family: "JetbrainsMono Nerd Font Mono"
}

/* background-color: rgba(69, 64, 61, .8); MAIN */
/* background-color: rgba(40, 40, 40, .8); DARK */
/* background-color: rgba(69, 64, 61, .8); */
/* background-color: rgba(69, 64, 61, .8); */
/* background-color: rgba(212, 190, 152, .8); */

window {
	border: 2px solid #89b482;
	background-color: rgba(69, 64, 61, .9);
	/* background-color: rgba(59, 66, 82, .8); */
}

#inner-box {
    margin: 4px;
    border: none;
	/* background-color: rgba(40, 40, 40, .5); */
	/* background-color: rgba(67, 76, 94, .7); */
}

#input {
    margin: 4px;
    border: none;
    color: #d8dee9;
	background-color: rgba(40, 40, 40, .4);
	/* background-color: rgba(76, 86, 106, .7); */
}

#input-box {
	border: none;
}

#outer-box {
    margin: 4px;
    border: none;
	/* border-radius: 12px; */
    background-color: transparent;
}

#img {
	background-color: transparent;
}

#scroll {
    margin: 2px 0px;
    border: none;
	border-radius: 12px;
	background-color: transparent;
}

#text {
    background-color: transparent;
    margin: 5px;
    border: none;
    color: #d4be98;
}

#entry:selected {
	background-color: rgba(212, 190, 152, .6);
}
